server:
  port: 8081

spring:
  application:
    name: activity-service

  datasource:
    url: jdbc:postgresql://localhost:5432/activity_service_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:

management:
  endpoints:
    web:
      exposure:
        include: health,info

user-service:
  url: ${USER_SERVICE_URL:http://localhost:8080}
